<div class="add-tea-form">
    <label>Name:</label>
    <input type="text"/>
    <label>Type:</label>
    <select>
            <option>White</option>
            <option>Green</option>
            <option>Black</option>
            <option>Herbal</option>
            <option>Rooibos</option>
    </select>
    <label>Caffeine:</label>
    <select>
            <option>High</option>
            <option>Medium</option>
            <option>Low</option>
            <option>None</option>
    </select>
    <label>ImagePath: </label>
    <input type="text"/>
<button (click)="addTea()">Add Tea</button>
</div>
